<div id="footer-wrapper">
  <div id="footer" class="container">
    <div id="box1">
      <div class="title">
         <h2>最新消息</h2>
       </div>
       <ul class="style1">
         <li><a href="#"></a></li>
      </ul>
    </div>
    <div id="box2">
      <div class="title">
        <h2>相關連結</h2>
        </div>
        <ul class="style1">
          <li><a href="#"></a></li>
        </ul>
    </div>
    <div id="box3">
      <div class="title">
        <h2>追蹤我們</h2>
      </div>
      <ul class="contact">
        <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
        <li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
      </ul>
      <a href="#" class="icon icon-plus-sign button">Read More</a>
    </div>
  </div>
</div>
