<div id="portfolio-wrapper">
	<div id="portfolio" class="container">
		<div id="column1">
			<div class="title">
				<h2>陳立展</h2>
			</div>
			<a href="#" class="image image-full"><%= image_tag 'lee.jpg' %></a>
			<p>見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹</p>
			<a href="#" class="icon icon-plus-sign button">更多</a> </div>
		<div id="column2">
			<div class="title">
				<h2>倪若嘉</h2>
			</div>
			<a href="#" class="image image-full"><%= image_tag 'nina.jpg' %></a>
			<p>見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹</p>
			<a href="#" class="icon icon-plus-sign button">更多</a> </div>
		<div id="column3">
			<div class="title">
				<h2>王敘親</h2>
			</div>
			<a href="#" class="image image-full"><%= image_tag 'sam.jpg' %></a>
			<p>見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹</p>
			<a href="#" class="icon icon-plus-sign button">更多</a> </div>
		<div id="column4">
			<div class="title">
				<h2>陳筱涵</h2>
			</div>
			<a href="#" class="image image-full"><%= image_tag 'jessie.jpg' %></a>
			<p>見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹見邵劍介紹</p>
			<a href="#" class="icon icon-plus-sign button">更多</a> </div>
	</div>
</div>
